<!DOCTYPE html>
<html>
  <h1>Please enter your equipment</h1>
  <form action="/equipment/create" method="POST">
    <input type='text' name='name' placeholder='Item Name:'>
    <input type="number" name="quantity" placeholder="Quantity:">
    <br>
    <input type="submit" value="Create">
  </form>

</html>