<!DOCTYPE html>
<html>
  <h1> HI, <%= @user.username %>! </h1>
  <h2>Here is all your equipment </h2>
  #table of equipment
  <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>SHOULD ITERATE THROUGH USERS EQUIPMENT.NAME</td>
    <td>SHOULD ITERATE THROUGH USERS EQUIPMENT.QUANTITY</td>
</table>

  <p><a href="/equipment/edit">Edit List</a></p>
</html>